# Flutter / Dart
.dart_tool/
.packages
.pub-cache/
build/

# Android / Gradle
.gradle/
local.properties
*.iml
.idea/

# iOS
ios/Pods/
ios/.symlinks/
ios/Flutter/Flutter.framework
ios/Flutter/App.framework

# Keys
*.keystore
*.jks
*.p12
